{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ConnectedIn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "styles/bootstrap.css" %}" />
</head>
<body>
    <div class="container">
        {% block body %}
        
        {% endblock body %}
    </div>
</body>
</html>