{% extends "base.html" %}

{% block body %}

    <form class="form-signin" role="form" action="{% url 'entrar' %}" method="post">
        {% csrf_token %}

        <h2 class="form-signin-heading">Login</h2>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">
            Login
        </button>
        <input type="hidden" name="next" value="{{ next }}" />
        {% if form.errors %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;
                </button>
                Por favor, verifique o Email e/ou Senha informados
            </div>
        {% endif %}
        <a href="{% url 'register' %}">registre-se</a>

    </form>

{% endblock %}