{% extends "base.html" %}

{% block body %}

    <form class="form-signin" role="form" action="{% url 'cadastrar' %}" method="POST">
        {% csrf_token %}
        <h2 class="form-signin-heading">Crie seu usuÃ¡rio</h2>

        <input id="username" name="username" type="text"
        class="form-control" placeholder="E-mail *" required autofocus>

        <input id="password" name="password" type="password"
        class="form-control" placeholder="Senha *" required>
        <hr/>

        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Registrar
        </button>

        <hr/>

        {% if form.erros %}
            <div class="alert alert-danger">
                <button type="button" class="close">
                    &times;
                </button>
                {{form.non_field_erros}}
            </div>
        {% endif %}
    </form>

{% endblock body %}